.sticky-header {
  padding-top: 100px;
}
.sticky-header header {
  height: 60px;
  background-color: rgba(52, 152, 219, 0.9);
}
.sticky-header {
  padding-top: 100px;
}
.sticky-header header {
  height: 60px;
  background-color: rgba(52, 152, 219, 0.9);
}
